
   
  .card-text, .card-title{
color: $members-cards-text;
font-size: 2rem;
  
  }
  .btn{
    background-color: $back-color;
    font-size: 2rem;
  }
  .card{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 10px;
   
  }

  .card-group{
    display: flex;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-right: 20px;
    
    
    
    
  }
  footer{

    padding: 0;
  }
