<footer >
  <div class="footnavigation">
    <div class="footlogo">  
      <img src="./assets/images/logo.png" alt="economia circular" class="logo" />
      </div>
      <nav > 
           <ul>
               <li class="active"><a href="index.html">Page one</a></li>
               <li class="nav-item"><a href="members.html">Page two</a></li>
               <li class="nav-item"><a href="information.html">Page three</a></li>
               <li class="nav-item"><a href="form.html">Page four</a></li>
              
           </ul>         
       </nav>
       <div class="footer-social">                    
        <ul >
            <li class="nav-item-social"><a href="#" target="_blank" title="Follow us on Facebook"><img src="./assets/images/facebook.svg" alt="logo Facebook" ></a></li>
            <li class="nav-item-social"><a href="#" target="_blank" title="Follow us on Instagram"><img src="./assets/images/instagram.svg" alt="logo instagram" ></a></li>
            <li class="nav-item-social"><a href="#" target="_blank" title="Follow us on Linkdin"><img src="./assets/images/linkedin.svg" alt="logo Linkdin" ></a></li>                       
        </ul>
    </div>
    
  </div> 

</footer>
