<header>                
            				
    <div class="topnavigation">
        <div class="toplogo">  
          <img src="./assets/images/logo.png" alt="economia circular" class="logo" />
        </div>
          <nav > 
               <ul>
                   
                   <li class="nav-item"><a href="members.html">Page two</a></li>
                   <li class="nav-item"><a href="information.html">Page three</a></li>
                   <li class="nav-item"><a href="form.html">Page four</a></li>
                  
               </ul>         
           </nav>
           
        
      </div>   			
  

</header>